<?xml version="1.0" encoding="UTF-8"?>			<name>Sigtics</name>		<description>		</description>		<author href="" email="ingeniero.fabio.garcia@gmail.com">Fabio garcia		</author>		<icon src="img/logo36.png" gap:platform="android" gap:density="ldpi" />		<icon src="img/logo48.png" gap:platform="android" gap:density="mdpi" />		<icon src="img/logo72.png" gap:platform="android" gap:density="hdpi" />		<icon src="img/logo96.png" gap:platform="android" gap:density="xhdpi" />		<icon src="img/logo144.png" gap:platform="android" gap:density="xxhdpi" />		<icon src="img/logo192.png" gap:platform="android" gap:density="xxxhdpi" />	</widget>